@font-face {
  font-family: "Aileron-Black";
  src: url(../fonts/Aileron-Black.otf);
}

@font-face {
  font-family: "Aileron-BlackItalic";
  src: url(../fonts/Aileron-BlackItalic.otf);
}

@font-face {
  font-family: "Aileron-BoldItalic";
  src: url(../fonts/Aileron-BoldItalic.otf);
}

@font-face {
  font-family: "Aileron-Bold";
  src: url(../fonts/Aileron-Bold.otf);
}

@font-face {
  font-family: "Aileron-HeavyItalic";
  src: url(../fonts/Aileron-HeavyItalic.otf);
}

@font-face {
  font-family: "Aileron-Heavy";
  src: url(../fonts/Aileron-Heavy.otf);
}

@font-face {
  font-family: "Aileron-Italic";
  src: url(../fonts/Aileron-Italic.otf);
}

@font-face {
  font-family: "Aileron-LightItalic";
  src: url(../fonts/Aileron-LightItalic.otf);
}

@font-face {
  font-family: "Aileron-Light";
  src: url(../fonts/Aileron-Light.otf);
}

@font-face {
  font-family: "Aileron-Regular";
  src: url(../fonts/Aileron-Regular.otf);
}

@font-face {
  font-family: "Aileron-SemiBoldItalic";
  src: url(../fonts/Aileron-SemiBoldItalic.otf);
}

@font-face {
  font-family: "Aileron-SemiBold";
  src: url(../fonts/Aileron-SemiBold.otf);
}

@font-face {
  font-family: "Aileron-ThinItalic";
  src: url(../fonts/Aileron-ThinItalic.otf);
}

@font-face {
  font-family: "Aileron-Thin";
  src: url(../fonts/Aileron-Thin.otf);
}

@font-face {
  font-family: "Aileron-UltraLightItalic";
  src: url(../fonts/Aileron-UltraLightItalic.otf);
}

@font-face {
  font-family: "Aileron-UltraLight";
  src: url(../fonts/Aileron-UltraLight.otf);
}
