body {
  font-family: "Aileron-SemiBold";
  color: #35495E;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Aileron-Heavy";
  color: #41B883;
}

.jumbotron {
 background-image: url(../banner.jpg);
 color: #ffffff;
}

.jumbotron h1 {
 font-family: "Aileron-Black";
 border:none;
}

.jumbotron p {
 font-family: "Aileron-Heavy";
}

.tools {
 display: flex;
 flex-flow: row;
 justify-content: flex-end;
 position: relative;
 top: 47px;
 background-color: rgba(0,0,0,0.6);
}
.tools > div {
 padding: 1em;
 font-family: "Aileron-Bold";
}

.tools > div > span.badge {
  color: #000000;
  background-color: #ffffff;
}

h1 {
  padding-bottom: 5px;
  border-bottom: solid 2px #35495E;
}

.panel-oldertasks {
  border-color: #41B883;
  border-width: 2px;
  font-size: 14pt;
}

.panel-oldertasks > .panel-heading {
  font-family: "Aileron-Heavy";
  background-color: #41B883;
  color: #ffffff;
}

.oldertasks > li > a {
  font-size: 12pt;
  color: #41B883;
}

.oldertasks > li > a:hover, .oldertasks > li > a:focus {
  color: #38a273;
}

.panel-task {
  border-color: #41B883;
  border-width: 2px;
}

.panel-task > .panel-heading {
  font-family: "Aileron-Heavy";
  font-size: 16pt;
}

.panel-task > .panel-heading > a {
  float: right;
  color: #41B883;
}

.panel-task > .panel-footer {
  font-family: "Aileron-Heavy";
  background-color: transparent;
  text-align: right;
  font-size: 12pt;
}

.tags > ul {
  list-style-type: none;
}
.tags > ul > li {
  display: inline-block;
}

.info > ul {
  list-style-type: none;
}

.info > ul > li {
  display: inline-block;
}

.info > ul > li > a {
  color: #41B883;
}

.pager li > a:focus, .pager li > a:hover {
    text-decoration: none;
    background-color: #50d99c;
    border-color: #50d99c;
}

.pager li > a {
  background-color: #41B883;
  color: #ffffff;
  border-color: #41B883;
}

.btn-circle:hover, .btn-circle:focus {
  background-color: #50d99c;
  color: #ffffff;
}

.btn-circle {
  z-index: 1000;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  font-size: 18pt;
  padding: 0px;
	width: 50px;
	height: 50px;
  background-color: #41B883;
  color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-circle > i {
  margin: 0px;
}

.options {
  display: none;
  position: fixed;
  bottom: 65px;
  right: 28px;
  padding: 0px;
}

.options > li {
  list-style-type:none;
}

#gear {
	transition: 0.3s ease;
 	-moz-transition: 0.3s ease; /* Firefox */
 	-webkit-transition: 0.3s ease; /* Chrome - Safari */
 	-o-transition: 0.3s ease; /* Opera */
}

#gear.rotate {
	transform : rotate(360deg);
	-moz-transform : rotate(360deg); /* Firefox */
	-webkit-transform : rotate(360deg); /* Chrome - Safari */
	-o-transform : rotate(360deg); /* Opera */
}

.github {
  background-color: #000000;
}

.twitter {
  background-color: #1DA1F2;
}

.linkedin {
  background-color: #0077B5;
}

.create {
  background-color: #42ff00;
}

.btn-option:hover, .btn-option:focus {
  color: #ffffff;
}

.btn-option {
  border-radius: 50%;
  font-size: 15pt;
  text-align: center;
  padding: 0;
  width: 35px;
  height: 35px;
  color: #ffffff;
  margin-top: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal-content > .modal-header, .modal-content > .modal-footer {
  border: 0px;
}
