body {
  font-family: "Aileron-SemiBold";
  color: #35495E;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Aileron-Heavy";
  color: #41B883;
}

.jumbotron {
 background-image: url(../banner.jpg);
 color: #ffffff;
}

.jumbotron h1 {
 font-family: "Aileron-Black";
 border:none;
}

.jumbotron p {
 font-family: "Aileron-Heavy";
}

.tools {
 display: flex;
 flex-flow: row;
 justify-content: flex-end;
 position: relative;
 top: 47px;
 background-color: rgba(0,0,0,0.6);
}
.tools > div {
 padding: 1em;
 font-family: "Aileron-Bold";
}

.tools > div > span.badge {
  color: #000000;
  background-color: #ffffff;
}

h1 {
  padding-bottom: 5px;
  border-bottom: solid 2px #35495E;
}

.panel-duedate {
  border-color: #41B883;
  border-width: 2px;
  font-size: 14pt;
}

.panel-duedate > .panel-heading {
  font-family: "Aileron-Heavy";
  background-color: #41B883;
  color: #ffffff;
}

.panel-task {
  border-color: #41B883;
  border-width: 2px;
}

.panel-task > .panel-heading {
  font-family: "Aileron-Heavy";
  font-size: 16pt;
}

.panel-task > .panel-heading > a {
  float: right;
  color: #41B883;
}

.panel-task > .panel-footer {
  font-family: "Aileron-Heavy";
  background-color: transparent;
  text-align: right;
  font-size: 12pt;
}

.panel-footer > ul {
  list-style-type: none;
}

.panel-footer > ul > li {
  display: inline-block;
}

.panel-footer > ul > li > a {
  color: #41B883;
}

.pager li > a:focus, .pager li > a:hover {
    text-decoration: none;
    background-color: #50d99c;
    border-color: #50d99c;
}

.pager li > a {
  background-color: #41B883;
  color: #ffffff;
  border-color: #41B883;
}

.btn-circle:hover, .btn-circle:focus {
  background-color: #50d99c;
  color: #ffffff;
}

.btn-circle {
  z-index: 1000;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  font-size: 15pt;
	width: 50px;
	height: 50px;
  background-color: #41B883;
  color: #ffffff;
}

.btn-circle > ul {
  display: none;
}
